/* general settings */
body, h1, h2, p, h3 {
    margin: 0;
    padding: 0;
}

/* HR */
hr {
    width: 30%; 
    margin: 20px auto;
}

/* FOOTER*/
footer {
    background-color: whitesmoke;
    color: #fff;
    padding: 1rem 0;
}

.footer p {
    text-align: center;
    color:black
}







/* BACK */
.top-left-link {
    position: absolute;
    top: 20px; 
    left: 20px; 
    color: #fff; 
    text-decoration: none; 
}







/* TOP BAR ON HOME PAGE*/
nav {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

/* MESHANE PEIRIS */
nav h1 {
    font-size: 75px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;

}

/* LIST BELOW NAME */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    text-align: center;
}

/* EACH WORD */
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

#navbar {
    position: relative;
    background-color: #333;
    color: #fff; 
    padding: 15px;
    transition: top 2s; 
}

.icon {
    width: 50px;
    height: 50px;
}






/* ABOUT ME */
.about-me h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.about-me p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color:black;
    margin-left:400px;
    margin-right: 400px;
    text-align:justify;
    font-family: 'Courier New', Courier, monospace;
}

.about-me:hover {
    background-color: #E0E0E0;
}







/* MIDDLE SECTIONS IN HOME PAGE */
header {
    background-color: white;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center; 

}

.section {
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
}

.section1 {
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.section2 {
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.section3 {
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.section4 {
    background-color: #333;
}

/* IMAGES */
.section-image img {
    width: 200px;
    height: 200px; 
    margin-left: 500px;
    margin-right: 100px;
    border-radius: 10%;
}

/* TEXT */
.section-text {
    flex: 1; 
    margin-right: 500px;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #333;
    text-align: justify;
}

.section-text h1 {
    color:blue;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.section-text h2 {
    color:green;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.section1:hover {
    background-color:#E0E0E0;
}

.section2:hover {
    background-color:#E0E0E0;
}

.section3:hover {
    background-color:#E0E0E0;
}







/* new project section */
.projects-section {
    background-color: #333;
}

.projects-section h1 {
    text-align: center;
    font-size: 40px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.projects-section h2 {
    text-align: center;
    font-size: 40px;
    color:orange;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}



.projects-section table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    
}

.projects-section p {
    font-size: 15px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;

}

.projects-section a {
    text-decoration: none;
}

.projects-section h3 {
    font-size: 8px;
    color:white
}

.projects-section td {
    width: 400px;
}

.projects-section h2:hover {
    color:rgba(119, 78, 2, 0.486)
}









/* contacts section */
.contacts-section {
    background-color: white;
}

.contact-me h2 {
    text-align: center;
    font-size: 40px;
   
    font-family: 'Courier New', Courier, monospace;
}

.contact-me table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    
}

.contact-me:hover {
    background-color: #E0E0E0;
}

.contact-me p {
    color:white
}


















/* load in animation */
.animate-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  .animate-element.active {
    opacity: 1;
    transform: translateY(0);
  }

 #animated-text {
    max-width: 3000px;
    color:black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 }

 #animated-text2 {
    max-width: 3000px;
    color:black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 }

 #animated-text3 {
    max-width: 3000px;
    color:black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 }


